// ******************************
// ** -----cart_check scss-----
.mainArea-cart-tian {
  @include flexCol(32px);
  padding-top: 24px;
  .cartTitle {
    @include flexCol(16px);
    align-items: flex-start;
  }
  .cartList {
    @include flexCol(16px);
    .listTitle {
      @include flexRow;
      justify-content: flex-start;
      align-items: center;
      padding-inline: 35px;
      width: 100%;
      height: 64px;
      border-radius: 35px;
      background-color: $primary-color;
    }
    .list {
      @include flexCol;
      border: 1px solid $success-color;
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      .listHeader {
        @include flexRow;
        align-items: center;
        width: 100%;
        height: 50px;
        padding-inline: 35px;
        background-color: $success-color;
        .shopName {
          margin-block: auto;
        }
      }
      .listBody {
        width: 100%;
        background-color: $light-color;
        .cardHeader {
          @include flexRow;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          margin-inline: 35px;
          border-bottom: 0.5px solid $sub-color;
          background-color: $light-color;
          .image {
            flex: 0 1 auto;
            width: 130px;
            height: 100%;
          }
          .product {
            flex: 1 1 auto;
          }
          .day {
            flex: 0 1 auto;
            width: 70px;
          }
          .count,
          .amount {
            flex: 0 1 auto;
            width: 110px;
          }
          .operation {
            flex: 0 1 auto;
            width: 80px;
          }
        }
      }
      .listFooter {
        @include flexRow;
        justify-content: flex-end;
        align-items: center;
        padding-inline: 35px;
        width: 100%;
        height: 50px;
        background-color: $success-color;
        .openList {
          background-color: transparent;
          span {
            font-size: 30px;
            @include outline-tian;
          }
        }
        & > div {
          @include flexRow(16px);
          justify-content: flex-start;
          align-items: center;
          button {
            border-width: 2px;
            border-radius: 40px;
            padding-inline: 20px;
            padding-block: 5px;
          }
        }
        .total {
          @include flexRow(10px);
        }
      }
    }
  }
  .cartCheck {
    @include flexCol;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    .checkHeader {
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      padding-inline: 35px;
      width: 100%;
      height: 50px;
      background-color: $primary-color;
      .addCoupon {
        @include flexRow(10px);
        align-items: center;
        color: $prompt-color;
        background-color: transparent;
        &:hover {
          color: $success-color;
        }
        .material-symbols-outlined {
          @include outline-tian;
        }
      }
    }
    .checkBody {
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: $success-color;
      padding-block: 20px;
      padding-inline: 35px;
      .checkAll {
        @include flexRow(12px);
        align-items: center;
      }
      .pay {
        @include flexRow(32px);
        align-items: flex-end;
        .clac {
          @include flexCol(5px);
          .originPrice,
          .coupon,
          .total {
            width: 156px;
            @include flexRow;
            justify-content: space-between;
          }
          .couponTitle {
            @include flexRow(5px);
            align-items: center;
          }
          .clacLine {
            width: 100%;
            height: 1px;
            background-color: $dark-color;
          }
        }
        button {
          padding-block: 6px;
          padding-inline: 47px;
          border-radius: 50px;
        }
      }
    }
  }
}
