.container {
  width: 1440px;
  padding: 0 80px;
  font-family: 'Montserrat', 'Noto Sans TC';
}

.wrapArea {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.pageTitle {
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.96px;
  font-size: 24px;
  color: #8f8e93;
}

.pageTitle .h2 {
  color: #f5f5f7;
}

.topRateArea {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.aside {
  display: flex;
  width: 187px;
  height: 540px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.displayInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.nameWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 12px;
}

.topNumber {
  position: relative;
  width: 120px;
  height: 120px;
  display: grid;
  place-items: center;
  text-align: center;
}

.topNumber > p {
  padding-top: 4px;
  color: #f5f5f7;
  font-size: 48px;
  font-weight: 400;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.rating {
  width: 32px;
  height: 32px;
  background: var(--hint-color);
  font-size: 14px;
  color: var(--main-color-bright);
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-align: center;
}

.commentCount {
  color: #f5f5f7;
  font-size: 12px;
}

.tag {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  font-size: 12px;
  font-weight: 600;
}

.tagBg1 {
  color: #413c1c;
  background-color: #f5f5f7;
}

.tagBg2 {
  color: #f5f5f7;
  background-color: #e49366;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  cursor: pointer;
}

.card {
  position: relative;
  width: 187px;
  height: 72px;
  overflow: hidden;
  border-radius: 18px;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.8);
  border: 1px solid #f5f5f7;
}

.cardTitle,
.cardTop {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
  position: relative;
  z-index: 2;
  margin: 0;
  color: #f5f5f7;
}

.cardImage {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.card:hover .cardImage {
  opacity: 0.8;
  transform: scale(1.1);
}

.card.active {
  border: 2px solid #f5f5f7 !important;
}

.card.active .cardImage {
  opacity: 0.8 !important;
  transform: scale(1.1) !important;
}

.icons {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icons > * {
  cursor: pointer;
}

/* 輪播 */

.carousel {
  position: relative;
  margin: 0;
  padding: 0;
  width: 1060px;
  height: 540px;
  overflow: hidden;
  border-radius: 18px;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}

.image.visible {
  opacity: 1;
  transform: translateX(0);
}

.image.exiting {
  transform: translateX(-100%);
}

/* 手機 */
@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .pageTitle {
    position: absolute;
    left: 16px;
    top: calc(64px + 16px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    color: #8f8e93;
    z-index: 3;
  }

  .pageTitle .h2 {
    color: #e49366;
    /* color: #2d2d2d; */
  }

  .icons {
    right: 16px;
    top: calc(64px + 16px);
  }
  .aside {
    position: absolute;
    left: 16px;
    bottom: 0px;
    z-index: 2;
  }

  .displayInfo {
    width: calc(393px - 16px - 16px);
    position: absolute;
    top: -150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    background-color: rgb(245, 245, 247, 0.6);
    backdrop-filter: blur(5px);
    border: 1px solid #f5f5f7;
    border-radius: 18px;
    padding: 12px 12px 60px 12px;
  }

  .nameWrap {
    flex-direction: row;
  }

  .topNumber {
    width: 40px;
    height: 40px;
    filter: invert(0.8);
  }

  .topNumber > p {
    padding-top: 4px;
    font-size: 20px;
    font-weight: 600;
  }

  .ratingWrapper {
    top: calc(64px + 170px);
    left: calc(16px + 12px + 4px);
  }

  .commentCount {
    color: #8f8e93;
  }

  .category {
    gap: 6px;
    margin: 0;
  }

  .cards {
    position: absolute;
    bottom: 16px;
  }
  .card {
    width: 72px;
    height: 72px;
  }

  .cardTitle {
    font-size: 16px;
    color: #413c1c;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tagBg1 {
    color: #f5f5f7;
    background-color: #413c1c;
  }

  .carousel {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
  }
}
