.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  border-radius: 18px;
  position: relative;
  width: 624px;
}

.closeButton {
  position: absolute;
  left: 624px;
  top: -48px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* 手機 */
@media (max-width: 768px) {
  .modalContent {
    width: calc(393px - 16px - 16px);
  }
  .closeButton {
    left: calc(393px - 16px - 16px - 48px);
    top: calc(-48px - 16px);
  }
}
