.groupWrapper {
  background-color: var(--main-color-dark);
  display: flex;
  width: 500px;
  height: 40px;
  border-radius: 16px;
  margin-block: 37px;
  position: relative;
}
.blockWrapper {
  display: flex;
  cursor: pointer;
}

.inputWrapper {
  height: 100%;
  width: 186px;
  border: 2px solid var(--main-color-dark);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--main-color-bright);
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryArea {
  border: none;
  background-color: transparent;
  padding-inline: 10px;
  outline: none;
  width: 170px;
  height: 26px;
  color: var(--main-color-dark);
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inputWrapper input::placeholder {
  color: #aaa;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.inputWrapper input:focus::placeholder,
.inputWrapper input:not(:placeholder-shown)::placeholder {
  opacity: 0; /* 聚焦或输入时隐藏 placeholder */
}

.iconWrapper {
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
}

.iconWrapper:hover .lableIcon {
  color: var(--hint-color);
}

.lableIcon {
  height: 20px;
  width: 20px;
  color: var(--main-color-bright);
}

.searchWrapper {
  display: grid;
  place-items: center;
  margin-top: 1px;
  width: 52px;
  height: 36px;
  border-left: 1px solid var(--main-color-bright);
}

.searchWrapper:hover .lableIcon {
  color: var(--hint-color);
}
.calenderWrapper {
  position: absolute;
  top: 40px;
  left: -110px;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calender {
  display: none;
}

.calender.open {
  display: block;
}

.calculateWrapper {
  background-color: var(--sub-color);
  position: absolute;
  top: 40px;
  left: 150px;
  z-index: 999;
  display: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calculateWrapper.open {
  display: block;
}
