.container {
  width: 1440px;
  padding: 0 80px;
  font-family: 'Montserrat', 'Noto Sans TC';
}

.containerW100 {
  width: 100%;
  overflow: hidden;
}

.containerFluid {
  padding: 0 80px;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.mask {
  overflow: hidden;
  width: 100%;
}

.couponList {
  gap: 100px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.couponList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 48px;
  color: #413c1c;
  z-index: 1;
  background: rgba(245, 245, 247, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 50%;
  padding: 5px;
  display: none; /* 初始隱藏 */
}

.wrapper:hover .arrow {
  display: block; /* 滑鼠懸停時顯示 */
}

.arrow.left {
  left: calc((100vw - 1440px) / 2 + 20px); /* 位置調整 */
}

.arrow.right {
  right: calc((100vw - 1440px) / 2 + 20px); /* 位置調整 */
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  color: #e49366;
}

.firstCard {
  margin-left: calc((100vw - 1440px) / 2 + 80px);
}

.lastCard {
  margin-right: calc((100vw - 1440px) / 2 + 80px);
}

.pageTitle {
  font-weight: 700;
  letter-spacing: 0.96px;
  font-size: 24px;
  color: #8f8e93;
  margin-bottom: 64px;
}

.pageTitle .h2 {
  color: #2d2d2d;
}

/* 彈出視窗 */
.tdn {
  text-decoration: none;
}

.couponModal {
  font-family: 'Montserrat', 'Noto Sans TC';
}

.modalHead {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  background: #413c1c;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  color: #f5f5f7;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px 48px;
  align-self: stretch;
  background: #f5f5f7;
  border-radius: 0 0 18px 18px;
  overflow: hidden;
}

.modalInfo .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: #2d2d2d;
  text-wrap: wrap;
}

.modalInfo .col .th {
  font-weight: 700;
  letter-spacing: 0.56px;
  color: #8f8e93;
}

.modalInfo .line {
  height: 0.5px;
  background: #8f8e93;
}

.modalInfo .logIn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #413c1c;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.28px;
}

.modalInfo .logIn .logInIcon {
  font-size: 32px;
  color: #413c1c;
}

.arrow2 {
  color: #f5f5f7;
  background-color: #413c1c;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  transform-origin: top right; /* 將縮放基準點設置為右上角 */
  transition: all 0.4s ease;
}

.modalInfo:hover .arrow2 {
  transform: scale(1.2);
}

/* 手機 */
@media (max-width: 768px) {
  .container {
    width: 393px;
    padding: 0 16px;
  }

  .couponList {
    gap: 40px;
  }

  .firstCard {
    margin-left: calc((100vw - 393px) / 2 + 16px);
  }

  .lastCard {
    margin-right: calc((100vw - 393px) / 2 + 16px);
  }

  .pageTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    margin-bottom: 32px;
  }
}
