/* 視窗比例要調整?*/
.nacontainer {
    width: 100%;
    height: 100%;
    margin: 0;
}
.nabackground {
    width: 100%;
    height: 100vh;
    background-image: url('/user/article_operators_03.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.nacard {
    color: #ffff;
    width: auto;
    display: flex;
    margin: 0px 189px 0 189px;
    padding-top: 200px;
    font-size: 44px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.nacard p {
    margin: 0;
  }

.nacard1 {
    width: 500px;
}

.nacard2 {
    background: var(--f-5-f-5-f-740, rgba(245, 245, 247, 0.4));
    display: flex;
    width: 296px;
    border-radius: 18px;
    padding: 32px;
    flex-direction: column;
    align-items: center;
  }

.nacn{
    border-radius: 50px;
    color: #fff;
    width: 150px;
    height: 40px;
    border: 2px solid var(--f-5-f-5-f-7-bg, #F5F5F7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -165px 0 100px 377px;
    position: absolute;
}

.nacn p {
    font-size: 22px;
    margin-bottom: 0;
}

.naibox{
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #413C1C;
}

.nainput1 {
    font-size: 15px;
    width: 232px;
    padding: 0;
    color: #413C1C;
    background-color: transparent;
    border: none;
}

.nainput1:focus {
    border: none;
    outline: none;
}


.nabtn {
    border: #413C1C;
    border-radius: 10px;
    background-color: #413C1C;
    color: #ffff;
    width: 90px;
    height: 35px;
    font-size: 20px;
    float: right;
    margin-top: 20px;
}

.naresetpsd {
    color: #413C1C;
    font-size: 14px;
    width: 80px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.naregister {
    width: 296px;
    height: 40px;
    background: var(--413-c-1-c-60, rgba(65, 60, 28, 0.60));
    border-radius: 15px;
    display: flex;
    color: #ffff;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 30px 189px 0 0;
}

.naregister p {
    margin-bottom: 0;
    margin-right: 20px;
}

.naregister button {
    border-radius: 12px;
    border: 1px solid #fff;
    width: 80px;
    height: 30px;
    background: none;
    color: #fff;
    font-size: 12px;
}