.mainArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sectionWrapper {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}


